# Backend API Base URL
VITE_API_BASE_URL="http://localhost:8000"

# Geospatial Tile Layer URLs (OpenStreetMap / ISRO Bhuvan / MapLibre)
VITE_MAP_TILE_URL="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
VITE_BHUVAN_TILE_URL="https://bhuvan.nrsc.gov.in/tilecache/tilecache.py/1.0.0/bhuvan_nu2/{z}/{x}/{y}.png"
